.DS_Store
_opam/
.github/
_archive
node_modules/*
!_build/default/src/output/node_modules/*

_build/install/
_build/log
_build/.*
_build/default/*
!_build/default/src/
_build/default/src/lib/
_build/default/src/pages/
_build/default/src/Index*
_build/default/src/.*

