# 1 "src/index.css"
@import"https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap";
/* @charset "utf-8"; */
@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
@import "tailwindcss/utilities";
@plugin "daisyui" {
  themes: light --default
};


@theme {
  --font-serif: "Times New Roman", Times, Serif;
  --font-sometype_mono: "Sometype Mono", monospace --font-custom:"Sometype Mono", "BIZ UDPGothic", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;

}

/* @layer utilities { */
/*   .palt { */
/*     font-feature-settings: "palt"; */
/*   } */
/* } */
/**/
/**/
/* /* for Boids */ */
/* canvas { */
/*   position: fixed; */
/*   top: 0; */
/*   left: 0; */
/*   z-index: -1; */
/*   width: 100vw; */
/*   height: 100vh; */
/* } */


/* Additional vertical padding used by kbd tag. */

/* .py-05 { */
/*   padding-top: 0.125rem; */
/*   padding-bottom: 0.125rem; */
/* } */

.markdown {
  @apply text-gray-900 leading-loose break-words z-[1000] font-serif ;
}

.markdown > * + * {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply text-blue-600 font-semibold;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply leading-tight text-5xl font-bold font-serif mb-4 mt-6 pb-2;
}

.markdown h2 {
  @apply 
  leading-tight text-3xl font-bold mb-4 mt-6 pb-2;
}

.markdown h3 {
  @apply leading-snug text-2xl font-bold mb-4 mt-6;
}

.markdown h4 {
  @apply leading-none text-2xl font-semibold mb-4 mt-6;
}

.markdown h5 {
  @apply leading-tight text-2xl font-semibold mb-4 mt-6;
}

.markdown h6 {
  @apply leading-tight text-base font-semibold text-gray-600 mb-4 mt-6;
}

.markdown blockquote {
  @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
}

.markdown code {
  @apply font-mono text-sm inline bg-gray-200 rounded px-1 /* py-05 */ pt-0.5 pb-0.5;
}

.markdown pre {
  @apply bg-gray-100 rounded p-4;
}

.markdown pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.markdown ul {
  @apply text-2xl pl-8 list-disc;
}

.markdown ol {
  @apply text-2xl pl-8 list-decimal;
}

.markdown kbd {
  @apply text-xs inline-block rounded border px-1 /*py-05*/ pt-0.5 pb-0.5 align-middle font-normal font-mono shadow;
}

.markdown table {
  @apply text-base border-gray-600;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100 /*important*/;
}
