@import"https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap";
@import "tailwindcss";
/* @charset "utf-8"; */

/* @theme {
  --font-serif: Times New Roman, Times, serif;
  --font-sometype_mono: Sometype Mono, monospace;
} */

*[data-font=serif] {
  font-family: Times New Roman,
    Times,
    serif
}

*[data-font=sometype_mono] {
  font-family: Sometype Mono, monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal
}

*[data-txtcolor=red] {
  color: #c00
}

*[data-fontweight=regular] {
  font-weight: 400
}

*[data-fontweight=medium] {
  font-weight: 500
}

*[data-fontweight=semibold] {
  font-weight: 600
}

*[data-fontweight=bold] {
  font-weight: 700
}

*[data-fontweight=extrabold] {
  font-weight: 800
}

*[data-fontweight=black] {
  font-weight: 900
}

html {
  font-size: 62.5%
}

body {
  font-family: Sometype Mono, BIZ UDPGothic, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
  font-size: 10px;
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  background: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt"
}

body[data-navopen=true] {
  pointer-events: none;
  overflow: hidden;
  min-height: 100%;
  height: 100%
}


.l-header {
  padding-top: 30px;
  padding-left: 18px;
  padding-right: 18px
}

.l-header>h1 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 54px;
  font-size: 5.4rem
}


.l-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 24px;
  padding-top: 0;
  padding-left: 18px;
  padding-right: 18px
}

.l-title>h2 {
  line-height: 1.4;
  font-weight: 700;
  font-size: 36px;
  font-size: 3.6rem
}

.l-title:after {
  content: "";
  display: block;
  height: auto;
  background: url(../images/_common/deco/deco_earth.svg) center center no-repeat;
  background-size: 100% auto;
  aspect-ratio: 96.33/76
}

#Wrap {
  font-size: 16px;
  font-size: 1.6rem
}

#Wrap #Main {
  padding-bottom: 72px
}

#Wrap #Main .l-main {
  padding-left: 18px;
  padding-right: 18px
}

.l-directory {
  padding-left: 18px;
  padding-right: 18px
}

.l-directory>table {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
  border-collapse: collapse;
  border-spacing: 0
}

.l-directory>table>thead,
.l-directory>table>tbody {
  text-align: left
}

.l-directory>table>thead>tr>th.ttl,
.l-directory>table>tbody>tr>th.ttl,
.l-directory>table>thead>tr>th.update,
.l-directory>table>tbody>tr>th.update {
  padding-left: 6px
}

.l-directory>table>thead>tr>th:nth-child(5),
.l-directory>table>tbody>tr>th:nth-child(5),
.l-directory>table>thead>tr>th:nth-child(6),
.l-directory>table>tbody>tr>th:nth-child(6) {
  display: none
}

.l-directory>table>thead {
  position: relative;
  height: auto;
  margin-bottom: 15px;
  font-size: 18px;
  font-size: 1.8rem
}

.l-directory>table>thead>tr>th {
  padding-bottom: 15px
}



.l-directory>table:before {
  content: "";
  width: 100%;
  display: block;
  height: 15px
}

.l-directory>table>tbody[data-type=back]:after {
  content: "";
  width: 100%;
  display: block;
  height: 24px
}

.l-directory>table>tbody>tr>th {
  padding-top: 4px;
  padding-bottom: 4px
}

.l-directory>table>tbody>tr>th.icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 36px
}

.l-directory>table>tbody>tr>th.icon[data-type=folder] {
  background-image: url(../images/_common/icon/icon_folder.svg)
}

.l-directory>table>tbody>tr>th.icon[data-type=back] {
  background-image: url(../images/_common/icon/icon_back.svg)
}

.l-directory>table>tbody>tr>th.icon[data-type=eye] {
  background-image: url(../images/_common/icon/icon_eye.svg)
}

.l-directory>table>tbody>tr>th.icon[data-type=tree] {
  background-image: url(../images/_common/icon/icon_tree.svg)
}

.l-directory>table>tbody>tr>th.ttl a {
  color: #333;
  text-decoration: underline
}

.l-directory>table>tbody>tr>th.ttl a:visited {
  color: #823277
}